:root {
  --primary-text-color: #212121;
  --second-text-color: #ffffff;
  --third-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --site-border-color: #ececec;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------HEADER------------------ */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--site-border-color);
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  margin: 0 auto;
}

.header-nav {
  display: flex;
}
.header-list {
  display: flex;
  /* outline: 2px solid tomato; */
  margin-left: 93px;
  margin-right: auto;
}
.header-list li {
  /* outline: 2px solid tomato; */
  margin-right: 50px;
}

.header-list li:last-child {
  margin-right: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-black {
  color: var(--primary-text-color);
}

.header-link {
  display: block;
  padding: 6px 20px 6px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-adress-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* outline: 2px solid tomato; */
}

.header-adress-list .item:not(:last-child) {
  margin-right: 50px;
}

.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}

/* ---------------СТУДИЯ PAGE HERO ------------------ */
.section-hero {
  background-color: var(--third-background-color);
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: inline-block;
  flex-direction: column;
}

.hero-title {
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.hero-btn {
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

/* ---------------СТУДИЯ ПРЕИМУЩЕСТВА ------------------ */

.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-container {
  height: auto;
  /* outline: 2px solid tomato; */
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  flex-basis: calc(100% / 4 - 30%);
}

.benefits-item:not(:first-child) {
  margin-left: 30px;
}

.benefits-title {
  width: 270px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

/* ---------------СТУДИЯ ЧЕМ ЗАНИМАЕМСЯ ------------------ */

.section-services {
  text-align: center;
}
.services-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}

.services-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item:nth-child(n + 2) {
  margin-left: 30px;
}
/* ---------------СТУДИЯ КОМАНДА ------------------ */

.section-team {
  background-color: var(--second-background-color);
}
.team-container {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-main-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(n + 2) {
  margin-left: 30px;
}

.team-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-text {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

/* ---------------ПОРТФОЛИО------------------ */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-btn-list {
  display: flex;
  margin-bottom: 50px;
  /* outline: 2px solid tomato; */
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--second-background-color);
  border: none;
  cursor: pointer;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
}

.portfolio-btn-list li {
  margin-right: 8px;
}

.portfolio-btn-list li:last-child {
  margin-right: 0;
}

.portfolio-btn:active {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}
.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-item:nth-child(3n + 1) {
  margin-left: 0;
}

.cart-container {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: solid 1px var(--site-border-color);
  border-right: solid 1px var(--site-border-color);
  border-bottom: solid 1px var(--site-border-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-title:hover,
.portfolio-title:focus {
  color: var(--accent-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.portfolio-item-list .link {
  color: inherit;
}

/* ---------------FOOTER------------------ */

.footer {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  margin: 0 auto;
}
.logo-blue {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.logo-white {
  display: flex;
  align-items: center;
  color: var(--second-text-color);
}

.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer-email {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
